::ng-deep .mat-stepper-horizontal-line {
  margin: 0 8px !important;
}

::ng-deep .mat-step-icon {
  transform: scale(1.5);
  margin: 12px !important;
}

::ng-deep .mat-step-header {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  overflow: visible !important;
  text-align: center !important;
}

::ng-deep .mat-stepper-horizontal {
  padding-top: 16px !important;
  overflow: visible !important;
}

::ng-deep .mat-step-label {
  font-size: 16px !important;
  margin-top: 8px !important;
}

.step-link {
  color: inherit;
  text-decoration: none;
}

.step-link:hover {
  text-decoration: underline;
}

.nav-button {
  z-index: 1;
}

.custom-stepper {
  margin: 0 60px;
}

.custom-stepper ::ng-deep .mat-step-label {
  white-space: normal !important;
  overflow: visible !important;
  height: auto !important;
}

.custom-stepper ::ng-deep .mat-step-label-content {
  white-space: normal !important;
  overflow: visible !important;
}

.step-link {
  display: block;
  white-space: normal;
}
