<!-- Header -->
<header class="shadow-md w-full z-50">
  <div
    class="w-full h-40 bg-white text-black max-w-full mx-auto px-4 py-3 flex justify-between items-center flex w-full my-auto"
  >
    <div class="text-left mb-auto flex">
      <img
        src="/SIIU.png"
        alt="Portal Universidad de Antioquia"
        width="120"
        height="120"
      />
      <div>
        <p class="text-black">
          <strong>Usuario: </strong>Usuario Prueba, <a href="">Ver mis roles</a>
        </p>
        <p class="text-black"><strong>Opción: </strong>-</p>
      </div>
    </div>

    <div class="text-center font-bold text-[100px]">
      <h1 class="text-green-800">SISTEMA DE INFORMACIÓN</h1>
      <h1 class="text-dark text-green-800">INVESTIGACIÓN UNIVERSITARIA</h1>
    </div>
    <div class="mr-32">
      <img
        src="https://www.udea.edu.co/wps/wcm/connect/udea/2117e09c-7085-4410-b53b-c8dd24da3da7/logosimbolo-horizontal.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_L8L8H8C0LODDC0A6SSS2AD2GO4-2117e09c-7085-4410-b53b-c8dd24da3da7-plcMekT"
        alt="Portal Universidad de Antioquia"
        width="250"
        height="60"
      />
    </div>
  </div>
  <div
    class="bg-gray-100 h-10 text-dark max-w-full px-4 py-0 flex w-full my-auto text-sm"
  >
    <button matButton class="px-2">Configuración</button>
    <button matButton class="px-2">Convocatorias</button>

    <button matButton class="px-2" [matMenuTriggerFor]="belowMenu">
      Trámites administrativos
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Nueva solicitud o Novedad</button>
      <a mat-menu-item href="/">Seguimiento proyectos</a>
      <button mat-menu-item>Seguimiento mis proyectos</button>
      <button mat-menu-item>Seguimiento solicitudes y Novedades</button>
      <button mat-menu-item>Gestión de compromisos</button>
    </mat-menu>

    <button matButton class="px-2">Trámites presupuestales</button>
    <button matButton class="px-2">Reportes</button>
    <button matButton class="px-2">Constancias</button>
  </div>
</header>

<div
  class="stepper-container w-4/5 mx-auto py-16"
  style="position: relative; overflow: visible"
  *ngIf="showStepper"
>
  <!-- Navigation buttons -->
  <mat-stepper headerPosition="bottom" #stepper class="custom-stepper">
    <mat-step>
      <ng-template matStepLabel>
        <a routerLink="/inicio-formal" class="step-link">Información general</a>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <a routerLink="/participantes" class="step-link">Participantes</a>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <a routerLink="/compromisos" class="step-link">Compromisos</a>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <a routerLink="/etapas" class="step-link">Etapas</a>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <a routerLink="/step5" class="step-link">Generar acta de inicio</a>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <a routerLink="/step6" class="step-link">Documento Soporte</a>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <a routerLink="/step7" class="step-link">Cerrar inicio formal</a>
      </ng-template>
    </mat-step>
  </mat-stepper>
</div>

<!-- Contenido principal -->
<main class="pt-100 pb-16 min-h-1/2 bg-gray-50">
  <div class="min-w-7xl mx-auto px-20">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- Footer -->
<footer class="bg-gray-100 text-dark p-16 px-20 grid grid-cols-4 gap-8">
  <div class="flex flex-col">
    <img
      src="https://www.udea.edu.co/wps/wcm/connect/udea/2117e09c-7085-4410-b53b-c8dd24da3da7/logosimbolo-horizontal.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_L8L8H8C0LODDC0A6SSS2AD2GO4-2117e09c-7085-4410-b53b-c8dd24da3da7-plcMekT"
      alt="Portal Universidad de Antioquia"
      width="250"
      height="60"
    />
    <p class="mt-4 text-lg">
      NIT 890980040-8 | Recepción correspondencia: Cll. 70 # 52 - 21 | Apartado
      aéreo 1226 | Dirección: Cll. 67 # 53 - 108 | Medellín - Col |
      Notificaciones judiciales: notifica.judiciales&#64;udea.edu.co |
      Radicación PQRS: atencionciudadano&#64;udea.edu.co
    </p>
    <p class="mt-4 text-lg">
      Línea gratuita 01 8000 416384 | Línea anticorrupción (+57-604) 219 5028
    </p>
    <p class="mt-4 text-lg">
      Vigilada Mineducación. Acreditación institucional hasta el 2033 | ©
      Copyright 2020 Todos los Derechos Reservados
    </p>
  </div>
  <div>
    <a
      routerLink="#"
      routerLinkActive="font-semibold"
      class="hover:underline font-semibold text-dark text-lg"
      >Atención al ciudadano</a
    >
    <ul class="text-dark">
      <li class="text-dark text-lg">Directorio telefónico</li>
      <li class="text-dark text-lg">Mapa del sitio</li>
      <li class="text-dark text-lg">Normativa</li>
      <li class="text-dark text-lg">Pico y placa en Ciudad Universitaria</li>
      <li class="text-dark text-lg">Preguntas Frecuentes</li>
      <li class="text-dark text-lg">Tarjeta Integrada Personal</li>
      <li class="text-dark text-lg">Transparencia y Acceso a la Información</li>
      <li class="text-dark text-lg">Atención presencial</li>
      <li class="text-dark text-lg">Atención telefónica</li>
      <li class="text-dark text-lg">Atención virtual</li>
      <li class="text-dark text-lg">Notificaciones por aviso</li>
      <li class="text-dark text-lg">Políticas</li>
      <li class="text-dark text-lg">Términos y condiciones de uso</li>
      <li class="text-dark text-lg">Trámites y servicios</li>
      <li class="text-dark text-lg">Ventanilla virtual</li>
    </ul>
  </div>
  <div>
    <a
      routerLink="#"
      routerLinkActive="font-semibold"
      class="hover:underline font-semibold text-dark text-lg"
      >Servicios en linea</a
    >
    <ul class="text-dark">
      <li class="text-dark">
        Aspirantes: docente de cátedra o contratación transitoria
      </li>
      <li class="text-dark text-lg">Campus UdeA</li>
      <li class="text-dark text-lg">Consultar correo electrónico</li>
      <li class="text-dark text-lg">Consultas y elecciones</li>
      <li class="text-dark text-lg">Contratación y convocatorias</li>
      <li class="text-dark text-lg">Generar certificados</li>
      <li class="text-dark text-lg">Iniciar sesión en el portal</li>
      <li class="text-dark text-lg">Obtener/Recuperar contraseña</li>
      <li class="text-dark text-lg">Pago de facturas</li>
      <li class="text-dark text-lg">Registro de usuarios externos</li>
      <li class="text-dark text-lg">Sede electrónica</li>
      <li class="text-dark text-lg">Ude&#64; educación virtual</li>
      <li class="text-dark text-lg">
        Verificación de diplomas y actas de grado
      </li>
    </ul>
  </div>
  <div>
    <a
      routerLink="#"
      routerLinkActive="font-semibold"
      class="hover:underline font-semibold text-dark text-lg"
      >La UdeA nos conecta</a
    >
    <ul class="text-dark">
      <li class="text-dark text-lg">Medios UdeA</li>
      <li class="text-dark text-lg">Agenda Cultural Alma Máter</li>
      <li class="text-dark text-lg">Editorial Universidad de Antioquia</li>
      <li class="text-dark text-lg">Emisora Cultural UdeA</li>
      <li class="text-dark text-lg">Periódico Alma Mater</li>
      <li class="text-dark text-lg">Revista Debates</li>
      <li class="text-dark text-lg">Revista Experimenta</li>
      <li class="text-dark text-lg">Revista Universidad de Antioquia</li>
      <li class="text-dark text-lg">Sistema de Revistas UdeA</li>
      <li class="text-dark text-lg">UdeA Noticias</li>
    </ul>
  </div>
</footer>
